.fade-delay-1 {
  animation-delay: 3s;
}
.fade-delay-2 {
  animation-delay: 4s;
}
.fade-delay-3 {
  animation-delay: 5s;
}
.fade-delay-4 {
  animation-delay: 6s;
}
.fade-delay-5 {
  animation-delay: 7s;
}
.fade-delay-6 {
  animation-delay: 8s;
}
.fade-delay-7 {
  animation-delay: 9s;
}
.fade-delay-8 {
  animation-delay: 10s;
}
