/* Pop-out hover effect for nav links and TOS */
.hov {
  transition:
    color 0.3s,
    transform 0.2s cubic-bezier(0.77, 0, 0.175, 1),
    box-shadow 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}

.hov:hover {
  color: #73f5ed !important;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0 #435680;
}
