.content-cnt {
  opacity: 0;
  width: 95dvw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-cnt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%; /* Change from 100dvw to 100% */
  min-height: 100dvh;
}

.info-bar {
  display: flex;
  flex-direction: column; /* not column-reverse */
  align-items: center; /* default center, override in right bar */
  /* width: 10dvw;
  min-width: 80px;
  max-width: 160px; */
  height: 95dvh;
  display: flex;
  flex-direction: column;
  background: #0b0e22;
  position: sticky;
  top: 4dvh;
  opacity: 0;
}

.info-bar-right {
  left: 1dvw; /* top: 0; */
  justify-content: flex-end;
}

.info-bar-left {
  left: 1dvw; /* top: 0; */
  justify-content: flex-end;
}

.content {
  margin-top: 10dvh;
  flex: 1 1 0;
  min-width: 0;
  height: fit-content;
  width: 80%;
  margin: 10dvh 1dvw 0dvh 1dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
