.content-cnt {
  opacity: 0;
  width: 95vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-cnt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
    justify-content: space-between;
  width: 100%; /* Change from 100vw to 100% */
  min-height: 100vh;
}

.info-bar {
    display: flex;
  flex-direction: column; /* not column-reverse */
  align-items: center;     /* default center, override in right bar */
  /* width: 10vw;
  min-width: 80px;
  max-width: 160px; */
  height: 95vh;
  display: flex;
  flex-direction: column;
  background: #0b0e22;
  position: sticky;
  top: 4vh;
}



.info-bar-right {
  left: 1vw; /* top: 0; */
  justify-content: flex-end;
}


.info-bar-left {
  left: 1vw; /* top: 0; */
  justify-content: flex-end;
}

.content {
  margin-top: 10vh;
  flex: 1 1 0;
  min-width: 0;
  height: fit-content;
  width: 80%;
  margin: 10vh 1vw 0vh 1vw;
}

.blur-in{
  transition: 1s ease-in-out;
  animation: blur-in 8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
@keyframes blur-in { 
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}