/* Optional: Style vertical scrollbar */
::-webkit-scrollbar {
  width: 6px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: #0b0e22;
}

::-webkit-scrollbar-thumb {
  background: #3b3f49;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
