body {
  background-color: #0b0e22;
  margin: 0;
  font-family: sans-serif;
}

.timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 5vh 0;
}

.line {
  position: absolute;
  left: 3vw;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: #435680;
  border-radius: 100px;
  z-index: 0;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin-left: 6vw; /* push items right of the line */
  width: 100%;
  z-index: 1;
}

.item {
  position: relative;
  padding: 2vw;
  width: 40vw;
  background-color: #1c2236;
  color: white;
  border-radius: 8px;
}

.item::before {
  content: '';
  position: absolute;
  left: -3.5vw;
  top: 50%;
  transform: translateY(-50%) scale(0.8);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0b0e22;
  box-shadow:
    0 0 0 4px #0b0e22,
    0 0 0 8px #435680;
  z-index: 2;
}

#nav-area-1{
padding-top: 5vh; 
}